@model List<Capstone_Database.Model.Product>

@{
    ViewBag.Title = "Media Library";
}

<h2>Media Library</h2>


<div>
    <h4>Media:</h4>
    <hr/>
    <form asp-action="Search">
        <p>
            Search by Name:
            <input type="text" id="nameSearch" name="nameSearch"/>
        </p>
    </form>
    <table class="table">
        <tr>
            <th>
                Name
            </th>
            <th>
                Description
            </th>
            <th>
                Type
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            if (Request.QueryString.HasKeys())
            {
                var searchString = Request.QueryString.ToString().Remove(0, 11).ToLower();
                if (item.name.ToLower().Contains(searchString))
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.type)
                        </td>
                        <td>
                            @Html.ActionLink("Order", "OrderProduct", new { item.productId })
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.type)
                    </td>
                    <td>
                        @Html.ActionLink("Order", "OrderProduct", new { item.productId })
                    </td>
                </tr>
            }


        }
    </table>

</div>
<p>

</p>