@model Capstone_Web_Members.ViewModels.MediaLibraryViewModel

@{
    ViewBag.Title = "Media Library";
}

<h2>Media Library</h2>
<div>
    <form asp-action="Search">
        <p>
            Name:
            <input type="text" id="nameSearch" name="nameSearch" value="@ViewBag.NameSearch" /> &nbsp;&nbsp;
            Type: &nbsp;
            @if (ViewBag.TypeSearch.Equals("Book"))
            {
                <input type="radio" name="typeSearch" value="Book" checked="checked" />
            }
            else
            {
                <input type="radio" name="typeSearch" value="Book" />
            }
            Book
            &nbsp;
            @if (ViewBag.TypeSearch.Equals("Movie"))
            {
                <input type="radio" name="typeSearch" value="Movie" checked="checked" />
            }
            else
            {
                <input type="radio" name="typeSearch" value="Movie" />
            }
            Movie
            &nbsp;
            @if (ViewBag.TypeSearch.Equals("CD"))
            {
                <input type="radio" name="typeSearch" value="CD" checked="checked" />
            }
            else
            {
                <input type="radio" name="typeSearch" value="CD" />
            }
            CD
            &nbsp;<input type="submit" value="Submit" class="btn btn-default"/>
            &nbsp;<input type="button" value="Clear" class="btn btn-default" onclick="location.href='@Url.Action("Index")'"/>
        </p>
    </form>
    <table class="table">
        <tr>
            <th>
                Name
            </th>
            <th>
                Description
            </th>
            <th>
                Type
            </th>
            <th>

            </th>
        </tr>
        @foreach (var item in Model.ProductsModel)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.type)
                </td>
                <td>
                    @if (Model.RentedCountModel >= 3)
                    {
                        <b>You currently have the max amount of allowed Rentals</b>
                    }
                    else
                    {
                        @Html.ActionLink("Order", "OrderProduct", new { item.productId })
                    }
                </td>
            </tr>
        }
    </table>

</div>
<p>

</p>