@model IEnumerable<Capstone_Database.Model.Stock>

@{
    ViewBag.Title = "Media Library";
}

<h2>Media Library</h2>


<div>
    <h4>Media:</h4>
    <hr/>
    <form asp-action="Search">
        <p>
            Search by Name:
            <input type="text" id="nameSearch" name="nameSearch"/>
        </p>
    </form>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Product.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product.description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product.type)
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            if (Request.QueryString.HasKeys())
            {
                var searchString = Request.QueryString.ToString().Remove(0, 11).ToLower();
                if (item.Product.name.ToLower().Contains(searchString))
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Product.name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Product.description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Product.type)
                        </td>
                        <td>
                            <input type="button" name="orderButton" value="Order" onClick="window.location.reload()"/>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Product.name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Product.description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Product.type)
                    </td>
                    <td>
                        <input type="button" name="orderButton" value="Order" onClick="window.location.reload()"/>
                    </td>
                </tr>
            }


        }
    </table>

</div>
<p>

</p>