@model IEnumerable<Capstone_Web_Members.Models.Product>

@{
    ViewBag.Title = "Media Library";
}

<h2>Media Library</h2>


<div>
    <h4>Media:</h4>
    <hr/>
    <form asp-action="Search">
        <p>
            Search by Name:
            <input type="text" id="nameSearch" name="nameSearch"/>
            <input type="button" asp-action="SearchByName" id="searchNameButton" value="Search"/>
        </p>
    </form>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.type)
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {

            //if (item.name.Contains(--nameSearch---))
            //{

            //}
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.type)
                </td>
                <td>
                    Order(Not Implemented)
                </td>
            </tr>
        }
    </table>

</div>
<p>

</p>