@model IEnumerable<Capstone_Web_Warehouse.Models.Rental>

@{
    ViewBag.Title = "Manage Items";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This page is used to update rental items.</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.rentalId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.stockId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.memberId)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.rentalId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.stockId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.memberId)
            </td>
            <td>
                Return(Not Implemented)
            </td>
        </tr>
    }
</table>