@model IEnumerable<Capstone_Database.Model.ItemRental>

@{
    ViewBag.Title = "Manage Items";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This page is used to update rental items.</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.itemRentalId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Stock.Product.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Member.name)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.itemRentalId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stock.Product.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Member.name)
            </td>
            <td>
                Return(Not Implemented)
            </td>
        </tr>
    }
</table>