@model Capstone_Web_Members.ViewModels.MemberProfileViewModel

@{
    ViewBag.Title = "Member Profile";
}

<h2>Member Details</h2>
<div>
    <dl class="dl-horizontal">
        <dt style="font-size: large">
            <b>Username</b>
        </dt>

        <dd style="font-size: large">
            @Html.DisplayFor(model => model.MemberModel.username)
        </dd>

        <dt style="font-size: large">
            <b style="font-size: large">Name</b>
        </dt>

        <dd style="font-size: large">
            @Html.DisplayFor(model => model.MemberModel.name)
        </dd>
    </dl>
</div>

<h2>Addresses</h2>
<div>
    <table class="table">
        @foreach (var address in Model.AddressesModel)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelRental => address.address)
                </td>
            </tr>
        }
    </table>

</div>

<p>
    @Html.ActionLink("Edit Profile", "Edit", new { id = Model.MemberModel.memberId })
</p>

<h2>Rental History</h2>
<div>
    <table class="table">
        <tr>
            <th>
                Name
            </th>
            <th>
                Description
            </th>
            <th>
                Type
            </th>
            <th>
                Category
            </th>
            <th>
                Status
            </th>
        </tr>
        @foreach (var rental in Model.ItemRentalsModel)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelRental => rental.Stock.Product.name)
                </td>
                <td>
                    @Html.DisplayFor(modelRental => rental.Stock.Product.description)
                </td>
                <td>
                    @Html.DisplayFor(modelRental => rental.Stock.Product.type)
                </td>
                <td>
                    @Html.DisplayFor(modelRental => rental.Stock.Product.category)
                </td>
                <td>
                    @Html.DisplayFor(modelRental => rental.status)
                </td>
            </tr>
        }
    </table>

</div>