@model Capstone_Web_Members.ViewModels.MemberProfileViewModel

@{
    ViewBag.Title = "Member Profile";
}

<h2>Member Information</h2>
<div>
    <dl class="dl-horizontal">
        <dt style="font-size: large">
            <b>Username</b>
        </dt>

        <dd style="font-size: large">
            @Html.DisplayFor(model => model.MemberModel.username)
        </dd>

        <dt style="font-size: large">
            <b style="font-size: large">Name</b>
        </dt>

        <dd style="font-size: large">
            @Html.DisplayFor(model => model.MemberModel.name)
        </dd>
    </dl>
</div>

<p>
    @Html.ActionLink("Edit Information", "Edit", new {id = Model.MemberModel.memberId})
</p>

<h2>Addresses</h2>
<p>
    @Html.ActionLink("Create New", "Create", "Addresses")
</p>
<div>
    <table class="table">
        <tr>
            <th>
                Street Address
            </th>
            <th>
                Secondary
            </th>
            <th>
                City
            </th>
            <th>
                State
            </th>
            <th>
                Zip
            </th>
            <th></th>
            <th></th>
        </tr>
        @foreach (var address in Model.AddressesModel)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelRental => address.address1)
                </td>
                <td>
                    @Html.DisplayFor(modelRental => address.address2)
                </td>
                <td>
                    @Html.DisplayFor(modelRental => address.city)
                </td>
                <td>
                    @Html.DisplayFor(modelRental => address.state)
                </td>
                <td>
                    @Html.DisplayFor(modelRental => address.zip)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", "Addresses", new { id = address.addressId }, "")
                </td>
                <td>
                    @Html.ActionLink("Remove", "Remove", "Addresses", new { id = address.addressId }, "")
                </td>
            </tr>
        }
    </table>
</div>

<h2>Rental History</h2>
<div>
    <table class="table">
        <tr>
            <th>
                Name
            </th>
            <th>
                Description
            </th>
            <th>
                Type
            </th>
            <th>
                Category
            </th>
            <th>
                Status
            </th>
        </tr>
        @foreach (var rental in Model.ItemRentalsModel)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelRental => rental.Stock.Product.name)
                </td>
                <td>
                    @Html.DisplayFor(modelRental => rental.Stock.Product.description)
                </td>
                <td>
                    @Html.DisplayFor(modelRental => rental.Stock.Product.type)
                </td>
                <td>
                    @Html.DisplayFor(modelRental => rental.Stock.Product.category)
                </td>
                <td>
                    @Html.DisplayFor(modelRental => rental.status)
                </td>
            </tr>
        }
    </table>

</div>