@model IEnumerable<Capstone_Database.Model.Member>

@{
    ViewBag.Title = "All Members";
}

<h2>All Members</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isLibrarian)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isBanned)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isLibrarian)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isBanned)
        </td>
        <td>
            @Html.ActionLink("View Profile", "Details", new { memberId = item.memberId })
            @*|
            @Html.ActionLink("Edit", "Edit", new { memberId = item.memberId })*@
        </td>
    </tr>
}

</table>
