@using Capstone_Web_Members.Controllers
@model List<Capstone_Database.Model.ItemRental>

@{
    ViewBag.Title = "RentalHistory";
}

<h2>Rental History</h2>

<div>
    <h4>Media:</h4>
    <hr/>
    <table class="table">
        <tr>
            <th>
                Name
            </th>
            <th>
                Description
            </th>
            <th>
                Type
            </th>
            <th>
                Category
            </th>
            <th>
                Status
            </th>
            <th>

            </th>
        </tr>
        @foreach (var rental in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelRental => rental.Stock.Product.name)
                </td>
                <td>
                    @Html.DisplayFor(modelRental => rental.Stock.Product.description)
                </td>
                <td>
                    @Html.DisplayFor(modelRental => rental.Stock.Product.type)
                </td>
                <td>
                    @Html.DisplayFor(modelRental => rental.Stock.Product.category)
                </td>
                <td>
                    @Html.DisplayFor(modelRental => rental.status)
                </td>
                <td>
                    @if (rental.status.Equals("Rented"))
                    {
                        @Html.ActionLink("Return", "ReturnProduct", "Home", new { rentalId = rental.itemRentalId }, "")
                    }
                    else
                    {
                        <b>&nbsp;</b>
                    }
                </td>
            </tr>
        }
    </table>

</div>