@model IEnumerable<Capstone_Database.Model.ItemRental>

@{
    ViewBag.Title = "Index";
}

<h2>Rentals</h2>

<table class="table">
    <tr>
        <th>
            Stock ID
        </th>
        <th>
            Product Name
        </th>
        <th>
            Member Name
        </th>
        <th>
            Shipping Address
        </th>
        <th>
            Rental Status
        </th>
        <th>Update Rental Status</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.stockId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stock.Product.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Member.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address.address1)
                <p>@Html.DisplayFor(modelItem => item.Address.city), @Html.DisplayFor(modelItem => item.Address.state) @Html.DisplayFor(modelItem => item.Address.zip)</p>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.status)
            </td>
            <td>
                @Html.ActionLink("Update Status", "UpdateStatus", new {id = item.itemRentalId})
            </td>
        </tr>
    }

</table>