@model IEnumerable<Capstone_Database.Model.ItemRental>

@{
    ViewBag.Title = "Index";
}

<h2>Rentals</h2>

<table class="table">
    <tr>
        <th>
            Member Name
        </th>
        <th>
            Member Address
        </th>
        <th>
            Product Name
        </th>
        <th>
            Rental Status
        </th>
        <th>Update Rental Status</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Member.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Member.address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stock.Product.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.status)
            </td>
            <td>
                @Html.ActionLink("Update Status", "UpdateStatus", new { id = item.itemRentalId })
            </td>
        </tr>
    }

</table>