@model Capstone_Database.Model.Employee

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Employee Info</h4>
    <hr/>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.employeeId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.employeeId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isManager)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isManager)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

    </dl>
</div>
<h2>Rental History</h2>
<div>
    <table class="table">
        <tr>
            <th>
                Product Name
            </th>
            <th>
                Rental ID
            </th>
            <th>
                Stock ID
            </th>
            <th>
                Action
            </th>
            <th>
                Date
            </th>
            <th>
                Condition
            </th>
            <th>
                Member Name
            </th>
            <th>
                Shipping Address
            </th>
        </tr>
        @foreach (var item in Model.ItemRentals.OrderByDescending(s => s.returnDateTime))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Stock.Product.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.itemRentalId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.stockId)
                </td>
                <td>
                    Returned
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.returnDateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.returnCondition)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Member.name)
                </td>
                <td>
                    Shipped to warehouse
                </td>
            </tr>
        }
        @foreach (var item in Model.ItemRentals1.OrderByDescending(s => s.shipDateTime))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Stock.Product.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.itemRentalId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.stockId)
                </td>
                <td>
                    Shipped
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.shipDateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Stock.itemCondition)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Member.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address.address1)
                    <p>@Html.DisplayFor(modelItem => item.Address.city), @Html.DisplayFor(modelItem => item.Address.state) @Html.DisplayFor(modelItem => item.Address.zip)</p>
                </td>
            </tr>
        }
    </table>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new {id = Model.employeeId}) |
    @Html.ActionLink("Back to List", "Index")
</p>